$white: #FFFFFF;
$card-white: #FFFBF6;
$cream-bg: #F8E9DD;
$medium-brown: #92857A;
$dark-brown: #382314;
$cyan: #76B5BC;
$red: #EC755D;

@font-face {
    font-family: 'DM-Sans-Regular';
    src: url('../fonts/DM-Sans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM-Sans-Bold';
    src: url('../fonts/DM-Sans-Bold.ttf') format('truetype');
}