@import './vars.scss';
@import './components/header/header.scss';
@import './components/chart/chart.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $cream-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'DM-Sans-Regular';
    font-size: 18px;
    padding: 16px;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 540px;
}